



# Foundry / local
anvil.log

# Broadcast history (keep run-latest.json only)
broadcast/**/run-*.json
!broadcast/**/run-latest.json
# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/



# Docs
docs/

# Dotenv file
.env
